Web References/Web.taxydema.track/TAXYTTSIDETA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="/TAXYTTSIDETA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="TAXYTTSIDETA" targetNamespace="/TAXYTTSIDETA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/TAXYTTSIDETA">
      <xs:element name="READ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user_details">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="a_pel_code" type="xs:string" />
                  <xs:element name="a_user_code" type="xs:integer" />
                  <xs:element name="a_user_pass" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="tt_code" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="READResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="st_flag" type="xs:integer" />
            <xs:element name="st_title" type="xs:string" />
            <xs:element name="pod_date" type="xs:string" />
            <xs:element name="pod_time" type="xs:string" />
            <xs:element name="pod_name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="50" name="tt_rec">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tt_date" type="xs:string" />
                  <xs:element name="tt_time" type="xs:string" />
                  <xs:element name="tt_station_code" type="xs:string" />
                  <xs:element name="tt_station_title" type="xs:string" />
                  <xs:element name="tt_status_code" type="xs:string" />
                  <xs:element name="tt_status_title" type="xs:string" />
                  <xs:element name="tt_remarks" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="READInput">
    <wsdl:part name="parameters" element="tns:READ" />
  </wsdl:message>
  <wsdl:message name="READOutput">
    <wsdl:part name="parameters" element="tns:READResponse" />
  </wsdl:message>
  <wsdl:portType name="TAXYTTSIDETA">
    <wsdl:operation name="READ">
      <wsdl:input message="tns:READInput" />
      <wsdl:output message="tns:READOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TAXYTTSIDETA" type="tns:TAXYTTSIDETA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="READ">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TAXYTTSIDETA">
    <wsdl:port name="TAXYTTSIDETA" binding="tns:TAXYTTSIDETA">
      <documentation>
        <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" />
      </documentation>
      <soap:address location="http://online.taxydema.gr" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>