Web References/Web.eltaCourier.track/PELTT01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="/PELTT01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="PELTT01" targetNamespace="/PELTT01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/PELTT01">
      <xs:element name="READ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="wpel_code" type="xs:string" />
            <xs:element name="wpel_user" type="xs:integer" />
            <xs:element name="wpel_pass" type="xs:string" />
            <xs:element name="wpel_vg" type="xs:string" />
            <xs:element name="wpel_ref" type="xs:string" />
            <xs:element name="wpel_flag" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="READResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="st_flag" type="xs:integer" />
            <xs:element name="st_title" type="xs:string" />
            <xs:element name="pod_date" type="xs:string" />
            <xs:element name="pod_time" type="xs:string" />
            <xs:element name="pod_name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="100" name="web_status">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="web_date" type="xs:string" />
                  <xs:element name="web_time" type="xs:string" />
                  <xs:element name="web_station" type="xs:string" />
                  <xs:element name="web_status_title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="web_status_counter" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="READInput">
    <wsdl:part name="parameters" element="tns:READ" />
  </wsdl:message>
  <wsdl:message name="READOutput">
    <wsdl:part name="parameters" element="tns:READResponse" />
  </wsdl:message>
  <wsdl:portType name="PELTT01">
    <wsdl:operation name="READ">
      <wsdl:input message="tns:READInput" />
      <wsdl:output message="tns:READOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PELTT01" type="tns:PELTT01">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="READ">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PELTT01">
    <wsdl:port name="PELTT01" binding="tns:PELTT01">
      <documentation>
        <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" />
      </documentation>
      <soap:address location="http://212.205.47.226:9003" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>