Web References/Web.eltaCourier.print/PELB64VG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="/PELB64VG" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="PELB64VG" targetNamespace="/PELB64VG" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/PELB64VG">
      <xs:element name="READ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pel_user_code" type="xs:string" />
            <xs:element name="pel_user_pass" type="xs:string" />
            <xs:element name="pel_apost_code" type="xs:string" />
            <xs:element name="vg_code" type="xs:string" />
            <xs:element name="paper_size" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="READResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="st_flag" type="xs:integer" />
            <xs:element name="st_title" type="xs:string" />
            <xs:element name="b64_string" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="READInput">
    <wsdl:part name="parameters" element="tns:READ" />
  </wsdl:message>
  <wsdl:message name="READOutput">
    <wsdl:part name="parameters" element="tns:READResponse" />
  </wsdl:message>
  <wsdl:portType name="PELB64VG">
    <wsdl:operation name="READ">
      <wsdl:input message="tns:READInput" />
      <wsdl:output message="tns:READOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PELB64VG" type="tns:PELB64VG">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="READ">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PELB64VG">
    <wsdl:port name="PELB64VG" binding="tns:PELB64VG">
      <documentation>
        <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" />
      </documentation>
      <soap:address location="http://10.10.9.23:9003" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>