Web References/Web.taxydema.create/TAXYCREATESIDETA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="/TAXYCREATESIDETA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="TAXYCREATESIDETA" targetNamespace="/TAXYCREATESIDETA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/TAXYCREATESIDETA">
      <xs:element name="INSERT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user_details">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="a_pel_code" type="xs:string" />
                  <xs:element name="a_user_code" type="xs:integer" />
                  <xs:element name="a_user_pass" type="xs:string" />
                  <xs:element name="a_pel_sub_code" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="vg_details">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="a_rec_title" type="xs:string" />
                  <xs:element name="a_rec_address" type="xs:string" />
                  <xs:element name="a_rec_area" type="xs:string" />
                  <xs:element name="a_rec_tk" type="xs:string" />
                  <xs:element name="a_rec_thl_1" type="xs:integer" />
                  <xs:element name="a_rec_thl_2" type="xs:integer" />
                  <xs:element name="a_rec_temaxia" type="xs:integer" />
                  <xs:element name="a_rec_baros" type="xs:decimal" />
                  <xs:element name="a_rec_sxolia" type="xs:string" />
                  <xs:element name="a_rec_ref" type="xs:string" />
                  <xs:element name="a_cod_flag" type="xs:integer" />
                  <xs:element name="a_cod_poso" type="xs:decimal" />
                  <xs:element name="a_cod_date" type="xs:string" />
                  <xs:element name="a_sur_1" type="xs:integer" />
                  <xs:element name="a_sur_2" type="xs:integer" />
                  <xs:element name="a_sur_3" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="INSERTResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="st_flag" type="xs:integer" />
            <xs:element name="st_title" type="xs:string" />
            <xs:element name="taxydema_sideta" type="xs:string" />
            <xs:element name="taxydema_doc_sideta" type="xs:string" />
            <xs:element name="taxydema_par_sideta" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="99" name="taxydema_child_no" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="INSERTInput">
    <wsdl:part name="parameters" element="tns:INSERT" />
  </wsdl:message>
  <wsdl:message name="INSERTOutput">
    <wsdl:part name="parameters" element="tns:INSERTResponse" />
  </wsdl:message>
  <wsdl:portType name="TAXYCREATESIDETA">
    <wsdl:operation name="INSERT">
      <wsdl:input message="tns:INSERTInput" />
      <wsdl:output message="tns:INSERTOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TAXYCREATESIDETA" type="tns:TAXYCREATESIDETA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TAXYCREATESIDETA">
    <wsdl:port name="TAXYCREATESIDETA" binding="tns:TAXYCREATESIDETA">
      <documentation>
        <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.0" />
      </documentation>
      <soap:address location="http://online.taxydema.gr" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>